<template>
  <v-app>
    <v-content>
      <v-container class="fill-height" fluid>
        <v-row align="center" justify="center">
          <v-col cols="12" sm="8" md="8">
            <v-card class="elevation-12">
              <v-window v-model="step">
                <v-window-item :value="1">
                  <v-row>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 light-blue--text text--accent-3">Iniciar Sesión</h1>
                        <div class="text-center mt-4" >
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mlt-4"> Ensure your email for registration</h4>

                        <ValidationObserver v-slot="{ invalid, validated, handleSubmit }">
                          <v-form ref="login_form">
                            <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                              <v-text-field
                                  v-model="loginData.email_L"
                                  :error-messages="errors"
                                  label="Email"
                                  prepend-icon="email"
                                  type="text"
                                  color="light-blue accent-3"
                              />
                            </ValidationProvider>
                            <ValidationProvider name="Password" rules="required|min:6" v-slot="{ errors }">
                              <v-text-field
                                  v-model="loginData.password_L"
                                  :error-messages="errors"
                                  :append-icon="show0 ? 'mdi-eye' : 'mdi-eye-off'"
                                  @click:append="() => (show0 = !show0)"
                                  :type="show0 ? 'text' : 'password'"
                                  id="password"
                                  label="Password"
                                  prepend-icon="lock"
                                  color="light-blue accent-3"
                              />
                            </ValidationProvider>

                            <div class="text-center mt-3 mb-4">
                              <v-btn rounded color="light-blue accent-3 white--text" @click="handleSubmit(login)" :disabled="invalid || !validated"> Ingresar </v-btn>
                            </div>
                          </v-form>
                        </ValidationObserver>

                        <h3 class="text-center mt-3 ">¿Olvidaste tu contraseña?</h3>
                      </v-card-text>

                    </v-col>

                    <v-col cols="12" md="4" class="light-blue accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">Bienvenido!</h1>
                        <h5 class="text-center"> Ingresa tus datos y empieza este camino de aprendizaje.</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined="" dark @click="nextStep">Registarse</v-btn>
                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>

                <v-window-item :value="2">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="light-blue accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">¿Ya tienes una cuenta?</h1>
                        <h5 class="text-center">Accedes con tus datos registrados</h5>
                      </v-card-text> 
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step = 1">Regresar</v-btn>
                      </div>                     
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 light-blue--text text--accent-3">Regístrate</h1>
                        <div class="text-center mt-4">
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn> 
                        </div>
                        <h4 class="text-center mt-4">Ingresa tus datos personales</h4>

                        <ValidationObserver v-slot="{ invalid, validated, handleSubmit }">
                          <v-form ref="form_reg_step1">
                            <ValidationProvider name="Nombres" rules="required|alpha" v-slot="{ errors }">
                              <v-text-field
                                  v-model="names"
                                  :error-messages="errors"
                                  label="Nombre"
                                  name="Nombre"
                                  prepend-icon="person"
                                  type="text"
                                  color="light-blue accent-3"
                                  maxlength="30"
                              />
                            </ValidationProvider>
                            <ValidationProvider name="Apellido Paterno" rules="required|alpha" v-slot="{ errors }">
                              <v-text-field
                                  v-model="appat"
                                  :error-messages="errors"
                                  label="Apellido Paterno"
                                  name="AppPater"
                                  prepend-icon="people"
                                  type="text"
                                  color="light-blue accent-3"
                                  maxlength="30"
                              />
                            </ValidationProvider>
                            <ValidationProvider name="Apellido Materno" rules="required|alpha" v-slot="{ errors }">
                              <v-text-field
                                  v-model="apmat"
                                  :error-messages="errors"
                                  label="Apellido Materno"
                                  name="AppMater"
                                  prepend-icon="people"
                                  type="text"
                                  color="light-blue accent-3"
                                  maxlength="30"
                              />
                            </ValidationProvider>
                            <ValidationProvider name="Telefono" rules="required|numeric" v-slot="{ errors }">
                              <v-text-field
                                  v-model="telefono"
                                  :error-messages="errors"
                                  label="Teléfono"
                                  name="Telefono"
                                  prepend-icon="phone"
                                  type="text"
                                  color="light-blue accent-3"
                                  maxlength="17"
                              />
                            </ValidationProvider>
                            <ValidationProvider name="Email" rules="required|email" v-slot="{ errors }">
                              <v-text-field
                                  v-model="email"
                                  :error-messages="errors"
                                  label="Email"
                                  name="Email"
                                  prepend-icon="email"
                                  type="text"
                                  color="light-blue accent-3"
                                  maxlength="255"
                              />
                            </ValidationProvider>
                          </v-form>

                          <div class="text-center mt-3 mb-4">
                            <v-row justify="center">
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3" dark  @click="step--"> Atras </v-btn>
                              </v-col>
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3" @click="handleSubmit(nextStep())" :disabled="invalid || !validated"> Siguiente </v-btn>
                              </v-col>
                            </v-row>
                          </div>

                        </ValidationObserver>

                      </v-card-text>

                    </v-col>              
                  </v-row>
                </v-window-item>


                <v-window-item :value="3">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="light-blue accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">¿Ya tienes una cuenta?</h1>
                        <h5 class="text-center">Accedes con tus datos registrados</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step = 1">Regresar</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 light-blue--text text--accent-3">Regístrate</h1>
                        <div class="text-center mt-4">
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mt-4">Perfil del estudiante</h4>
                        <ValidationObserver v-slot="{ invalid, validated, handleSubmit }">

                          <v-form ref="form_reg_step2">
                            <ValidationProvider name="Tipo de estudiante" rules="required" v-slot="{ errors }">
                              <v-select
                                  v-model="tipoest"
                                  :error-messages="errors"
                                  label="Seleccione tipo de estudiante"
                                  prepend-icon="fa-list"
                                  :items='tiposest'
                                  color="light-blue accent-3"
                              ></v-select>
                            </ValidationProvider>
                            <ValidationProvider name="Tipo de estudiante" rules="required" v-slot="{ errors }">
                              <v-select
                                  v-model="universidad"
                                  :error-messages="errors"
                                  label="Seleccione universidad"
                                  prepend-icon="fa-list"
                                  :items='universidades'
                                  color="light-blue accent-3"
                                  required
                              ></v-select>
                            </ValidationProvider>

                            <ValidationProvider name="Password" rules="required|min:6" vid="confirmation" v-slot="{ errors }">
                              <v-text-field
                                  v-model="password"
                                  :error-messages="errors"
                                  prepend-icon="lock"
                                  label="Password"
                                  color="light-blue accent-3"
                                  required
                                  :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                  @click:append="() => (show1 = !show1)"
                                  :type="show1 ? 'text' : 'password'"
                                  maxlength="128"
                              >
                              </v-text-field>
                            </ValidationProvider>

                            <ValidationProvider name="Password" rules="required|confirmed:confirmation" v-slot="{ errors }">
                              <v-text-field
                                  v-model="password_c"
                                  :error-messages="errors"
                                  label="Confirmación de Password"
                                  prepend-icon="lock"
                                  color="light-blue accent-3"
                                  required
                                  :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                                  @click:append="() => (show2 = !show2)"
                                  :type="show2 ? 'text' : 'password'"
                                  maxlength="128"
                              >
                              </v-text-field>
                            </ValidationProvider>

                          </v-form>

                          <div class="text-center mt-3 mb-4">
                            <v-row justify="center">
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3" dark  @click="step--"> Atras </v-btn>
                              </v-col>
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3"  @click="handleSubmit(nextStep())" :disabled="invalid || !validated"> Siguiente </v-btn>
                              </v-col>
                            </v-row>
                          </div>
                        </ValidationObserver>

                      </v-card-text>


                    </v-col>
                  </v-row>
                </v-window-item>

                <v-window-item :value="4">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="light-blue accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">¿Ya tienes una cuenta?</h1>
                        <h5 class="text-center">Accedes con tus datos registrados</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step = 1">Regresar</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 light-blue--text text--accent-3">Regístrate</h1>
                        <div class="text-center mt-4">
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mt-4">Plan de pago</h4>

                        <ValidationObserver v-slot="{ invalid, validated, handleSubmit }">
                          <v-form>
                            <h4 class="text-start mt-4">Seleccione:</h4><br>
                            <v-row justify="center">
                              <ValidationProvider name="Plan" rules="required" v-slot="{ errors }">
                              <v-list>
                                <v-list-item
                                    v-for="item in items" :key="item.id"
                                >
                                  <v-checkbox
                                      v-model="plan"
                                      :label='item.label'
                                      :error-messages="errors"
                                      :value="item"
                                      required
                                      color="light-blue accent-3"
                                  ></v-checkbox>
                                </v-list-item>
                              </v-list>
                              </ValidationProvider>
                            </v-row>
                          </v-form>

                          <div class="text-center mt-3 mb-4">
                            <v-row justify="center">
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3" dark  @click="step--"> Atras </v-btn>
                              </v-col>
                              <v-col>
                                <v-btn rounded outlined color="light-blue accent-3" dark  @click="handleSubmit(nextStep())" :disabled=" invalid || !validated"> Siguiente </v-btn>
                              </v-col>
                            </v-row>
                          </div>
                        </ValidationObserver>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </v-window-item>
                <v-window-item :value="5">
                  <v-row class="fill-height">
                    <v-col cols="12" md="4" class="light-blue accent-3">
                      <v-card-text class="white--text mt-12">
                        <h1 class="text-center display-1">¿Ya tienes una cuenta?</h1>
                        <h5 class="text-center">Accedes con tus datos registrados</h5>
                      </v-card-text>
                      <div class="text-center">
                        <v-btn rounded outlined dark @click="step = 1">Regresar</v-btn>
                      </div>
                    </v-col>
                    <v-col cols="12" md="8">
                      <v-card-text class="mt-12">
                        <h1 class="text-center display-2 light-blue--text text--accent-3">Regístrate</h1>
                        <div class="text-center mt-4">
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-facebook-f</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-google-plus-g</v-icon>
                          </v-btn>
                          <v-btn class="mx-2" fab color="black" outlined>
                            <v-icon>fab fa-linkedin-in</v-icon>
                          </v-btn>
                        </div>
                        <h4 class="text-center mt-4">Resumen</h4>

                        <v-card outlined>
                          <v-card-text class="mt-0">
                            <h4 class="text-lg-start light-blue--text text--accent-3">Plan Adquirido:</h4>
                            <v-row justify="center">
                              <v-col>
                                <h2 class="text-lg-center text--accent-3">{{plan.name}}</h2>
                              </v-col>
                              <v-col>
                                <h2 class="text-lg-center text--accent-3">Precio: {{plan.precio}}</h2>
                              </v-col>
                            </v-row>
                            <br>
                            <hr>
                            <br>
                            <v-row justify="center">
                              <v-col>
                                <h2 class="text-lg-center text--accent-3">Total a pagar:</h2>
                              </v-col>
                              <v-col>
                                <h2 class="text-lg-center text--accent-3">{{plan.precio}}</h2>
                              </v-col>
                            </v-row>
                          </v-card-text>


                        </v-card>
                        <br>
                        <v-card outlined>
                          <v-card-text class="mt-0">
                            <h4 class="text-lg-start light-blue--text text--accent-3">Método de pago</h4>

                            <v-text-field
                                label="Nombre de la tarjeta"
                                name="NombreTarjeta"
                                prepend-icon="credit_card"
                                type="text"
                                color="light-blue accent-3"
                                :disabled="true"
                            />
                            <v-text-field
                                label="Numero de la tarjeta"
                                name="numTarjeta"
                                prepend-icon="lock"
                                type="text"
                                color="light-blue accent-3"
                                :disabled="true"
                            />
                            <v-row justify="center">
                              <v-col>
                                <v-text-field
                                    label="MM/AA"
                                    name="MMAA"
                                    type="text"
                                    color="light-blue accent-3"
                                    :disabled="true"
                                />
                              </v-col>
                              <v-col>
                                <v-text-field
                                    label="CVC"
                                    name="cvc"
                                    type="text"
                                    color="light-blue accent-3"
                                    :disabled="true"
                                />
                              </v-col>
                            </v-row>
                          </v-card-text>



                        </v-card>

                      </v-card-text>
                      <div class="text-center mt-3 mb-4">
                        <v-row justify="center">
                          <v-col>
                            <v-btn rounded outlined color="light-blue accent-3" dark  @click="step--"> Atras </v-btn>
                          </v-col>
                          <v-col>
                            <v-btn rounded outlined color="light-blue accent-3" dark @click="register()" > Pagar </v-btn>
                          </v-col>
                        </v-row>


                      </div>
                    </v-col>
                  </v-row>
                </v-window-item>
              </v-window>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default{

  data: () => ({

    loginData:{
      email_L: "",
      password_L: "",
    },
    names: "",
    appat: "",
    apmat: "",
    telefono: "",
    email: "",
    tipoest: "",
    tiposest:["Estudiante secundario","Estudiante pre-universitario"],
    universidad: "",
    universidades:["Universidad Nacional de S. A. de Arequipa (UNSA)",
      "Universidad Católica de Santa María (UCSM)",
      "Universidad Católica San Pablo (USP)",
      "Universidad Tecnológica del Perú (UTP)",
      "Universidad Alas Peruanas (UAP)"],
    password: "",
    password_c: "",
    plan: "",
    items: [
      {
        id: 1,
        name: "1 mes",
        precio: "S/ 30.00",
        label: "1 mes por el precio de S/ 30.00"
      },
      {
        id: 2,
        name: "3 meses",
        precio: "S/ 70.00",
        label: "3 meses por el precio de S/ 70.00"
      },
      {
        id: 3,
        name: "6 meses",
        precio: "S/120.00",
        label: "6 meses por el precio de S/ 120.00"
      },
    ],

    step:1,
    show0: false,
    show1: false,
    show2: false,

    validL:   false,


  }),
  props: {
    source: String
  },
  methods:{

    login() {

      var form = new FormData();
      form.append("email", this.loginData.email_L.toString());
      form.append("password", this.loginData.password_L.toString());

      this.$axios.post("http://ec2-3-141-223-133.us-east-2.compute.amazonaws.com:8000/auth/login/", form)
      .then(response => alert("Bienvenido "+JSON.stringify(response.data.user.email)+", Aun no podemos redireccionarte al dashboard aun lo estamos construyendo."))
      .catch(error => alert("Error en el login revisa los datos enviados "+error))
    },

    async register(){
      var form = new FormData();
      form.append("phone", this.telefono.toString());
      form.append("email", this.email.toString());
      form.append("password", this.password.toString());
      form.append("name", this.names.toString());
      form.append("first_last_name", this.appat.toString());
      form.append("second_last_name", this.apmat.toString());
      form.append("desired_university", this.universidad.toString())
      form.append("education_profile", this.tipoest.toString())

      let res = await this.$axios.post("http://ec2-3-141-223-133.us-east-2.compute.amazonaws.com:8000/usr/student/register/", form)


      alert("Hemos creado tu cuenta "+JSON.stringify(res.data.email.email)+", Aun no podemos redireccionarte al dashboard aun lo estamos construyendo.")


    },

    nextStep(){
      this.step++
    },

  }
};
</script>
